body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(245, 180, 180);
    font-family: 'Arial', sans-serif;
}
h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
.heart {
    position: absolute;
    font-size: 24px;
    animation: floatUp 2s ease-out forwards;
    pointer-events: none; /* Empêche les cœurs de bloquer les clics */
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    50% {
        opacity: 0.8;
        transform: translateY(-50px) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) scale(0.8);
    }
}
